<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">

    <link name='imu_link'>
        <visual name='visual'>
            <origin xyz="0 0 0.0" rpy="0 0 0" />
            <geometry>
                <box size="0.05 0.1 0.05" />
            </geometry>
        </visual>

        <collision>
            <origin xyz="0 0 0" rpy="0 0 0" />
            <geometry>
                <box size="0.1 0.1 0.1" />
            </geometry>
        </collision>

        <inertial>
            <mass value="0.1" />
            <origin xyz="0 0 0" rpy="0 0 0" />
            <inertia ixx="0.001" ixy="0.0" ixz="0.0" iyy="0.001" iyz="0.0" izz="0.001" />
        </inertial>
    </link>

    <joint name="imu_joint" type="fixed">
        <parent link="base_link" />
        <child link="imu_link" />
        <origin xyz="0 0 0" rpy="0 0 0" />
        <axis xyz="0 0 1" />
    </joint>


    <gazebo reference="imu_link">
        <sensor name="imu_sensor" type="imu">
            <gz_frame_id>imu_link</gz_frame_id>
            <always_on>1</always_on>
            <update_rate>60</update_rate>
            <visualize>true</visualize>
            <topic>imu/data_raw</topic>
            <imu>
                <angular_velocity>
                    <x>
                        <noise type="none">
                        </noise>
                    </x>
                    <y>
                        <noise type="none">
                        </noise>
                    </y>
                    <z>
                        <noise type="none">
                        </noise>
                    </z>
                </angular_velocity>
                <linear_acceleration>
                    <x>
                        <noise type="none">
                        </noise>
                    </x>
                    <y>
                        <noise type="none">
                        </noise>
                    </y>
                    <z>
                        <noise type="none">
                        </noise>
                    </z>
                </linear_acceleration>
            </imu>
        </sensor>
    </gazebo>

</robot>