<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">

    <link name='mag_link'>
        <visual name='visual'>
            <origin xyz="0 0 0.0" rpy="0 0 0" />
            <geometry>
                <box size="0.05 0.1 0.05" />
            </geometry>
        </visual>

        <collision>
            <origin xyz="0 0 0" rpy="0 0 0" />
            <geometry>
                <box size="0.1 0.1 0.1" />
            </geometry>
        </collision>

        <inertial>
            <mass value="0.1" />
            <origin xyz="0 0 0" rpy="0 0 0" />
            <inertia ixx="0.001" ixy="0.0" ixz="0.0" iyy="0.001" iyz="0.0" izz="0.001" />
        </inertial>
    </link>

    <joint name="mag_joint" type="fixed">
        <parent link="base_link" />
        <child link="mag_link" />
        <origin xyz="0 0 0" rpy="0 0 0" />
        <axis xyz="0 0 0" />
    </joint>


    <gazebo reference="mag_link">
        <sensor name="mag_sensor" type="magnetometer">
            <always_on>1</always_on>
            <gz_frame_id>mag_link</gz_frame_id>
            <always_on>1</always_on>
            <update_rate>100</update_rate>
            <visualize>true</visualize>
            <topic>imu/mag</topic>
        </sensor>
    </gazebo>

</robot>