ekf_filter_node:
    ros__parameters:
        frequency: 30.0
        two_d_mode: true
        publish_acceleration: true
        predict_to_current_time: true
        publish_tf: true
        odom_frame: odom
        base_link_frame: base_footprint
        world_frame: odom

        odom0: /odom
        odom0_config: [true, true, true,
                    false, false, false,
                    true,  true,  true,
                    false, false, false,
                    false, false, false]

        odom1: odometry/gps
        odom1_config: [true,  true,  true,
                    false, false, false,
                    true, true, true,
                    false, false, false,
                    false, false, false]
        odom1_queue_size: 10
        odom1_nodelay: true
        odom1_differential: false
        odom1_relative: false

        imu0: /imu
        imu0_config: [false, false, false,
                    true,  true,  true,
                    false, false, false,
                    true,  true,  true,
                    true,  true,  true]
        imu0_remove_gravitational_acceleration: false

navsat_transform:
    ros__parameters:
        frequency: 100.0
        delay: 3.0
        magnetic_declination_radians: 0.0
        yaw_offset: 1.4225
        zero_altitude: true
        broadcast_utm_transform: false
        publish_filtered_gps: true
        use_odometry_yaw: true
        wait_for_datum: false

imu_filter:
    ros__parameters:
        stateless: false
        use_mag: true
        publish_tf: false
        reverse_tf: false
        fixed_frame: "base_link"
        constant_dt: 0.0
        publish_debug_topics: true
        world_frame: "enu"
        gain: 0.1
        zeta: 0.0
        mag_bias_x: 0.0
        mag_bias_y: 0.0
        mag_bias_z: 0.0
        orientation_stddev: 0.0
        remove_gravity_vector: false