ekf_filter_node:
    ros__parameters:
        frequency: 30.0
        two_d_mode: true
        publish_acceleration: false
        predict_to_current_time: false
        publish_tf: true
        
        odom_frame: odom
        base_link_frame: base_footprint
        world_frame: odom
        
        transform_tolerance: 0.1
        
        # Wheel Odometry
        odom0: /odom
        odom0_config: [true,  true,  false,   # X, Y position from wheels
                      false, false, true,     # YAW from wheels
                      true,  true,  false,    # X, Y velocities from wheels
                      false, false, false,    # NO angular velocities from odom
                      false, false, false]    # NO accelerations
        odom0_queue_size: 10
        odom0_nodelay: true
        odom0_differential: false
        odom0_relative: false
        odom0_rejection_threshold: 5.0

        
        # IMU
        imu0: /imu/data
        imu0_config: [false, false, false,    # NO position
                     false, false, true,      # Roll, Pitch, YAW (magnetometer)
                     false, false, false,     # NO linear velocities
                     false, false, true,      # yaw rate (angular_velocity.z)
                     false, false, false]     
        imu0_remove_gravitational_acceleration: true
        imu0_queue_size: 10
        imu0_nodelay: true
        imu0_differential: false
        imu0_relative: false
        imu0_rejection_threshold: 2.0
        
        process_noise_covariance: [
            0.005, 0.0,   0.0,   0.0,   0.0,   0.0,   0.0,   0.0,   0.0,   0.0,   0.0,   0.0,   0.0,   0.0,   0.0,
            0.0,   0.005, 0.0,   0.0,   0.0,   0.0,   0.0,   0.0,   0.0,   0.0,   0.0,   0.0,   0.0,   0.0,   0.0,
            0.0,   0.0,   0.006, 0.0,   0.0,   0.0,   0.0,   0.0,   0.0,   0.0,   0.0,   0.0,   0.0,   0.0,   0.0,
            0.0,   0.0,   0.0,   0.003, 0.0,   0.0,   0.0,   0.0,   0.0,   0.0,   0.0,   0.0,   0.0,   0.0,   0.0,
            0.0,   0.0,   0.0,   0.0,   0.003, 0.0,   0.0,   0.0,   0.0,   0.0,   0.0,   0.0,   0.0,   0.0,   0.0,
            0.0,   0.0,   0.0,   0.0,   0.0,   0.006, 0.0,   0.0,   0.0,   0.0,   0.0,   0.0,   0.0,   0.0,   0.0,
            0.0,   0.0,   0.0,   0.0,   0.0,   0.0,   0.0025, 0.0,   0.0,   0.0,   0.0,   0.0,   0.0,   0.0,   0.0,
            0.0,   0.0,   0.0,   0.0,   0.0,   0.0,   0.0,   0.0025, 0.0,   0.0,   0.0,   0.0,   0.0,   0.0,   0.0,
            0.0,   0.0,   0.0,   0.0,   0.0,   0.0,   0.0,   0.0,   0.004, 0.0,   0.0,   0.0,   0.0,   0.0,   0.0,
            0.0,   0.0,   0.0,   0.0,   0.0,   0.0,   0.0,   0.0,   0.0,   0.001, 0.0,   0.0,   0.0,   0.0,   0.0,
            0.0,   0.0,   0.0,   0.0,   0.0,   0.0,   0.0,   0.0,   0.0,   0.0,   0.001, 0.0,   0.0,   0.0,   0.0,
            0.0,   0.0,   0.0,   0.0,   0.0,   0.0,   0.0,   0.0,   0.0,   0.0,   0.0,   0.002, 0.0,   0.0,   0.0,
            0.0,   0.0,   0.0,   0.0,   0.0,   0.0,   0.0,   0.0,   0.0,   0.0,   0.0,   0.0,   0.001, 0.0,   0.0,
            0.0,   0.0,   0.0,   0.0,   0.0,   0.0,   0.0,   0.0,   0.0,   0.0,   0.0,   0.0,   0.0,   0.001, 0.0,
            0.0,   0.0,   0.0,   0.0,   0.0,   0.0,   0.0,   0.0,   0.0,   0.0,   0.0,   0.0,   0.0,   0.0,   0.0015
        ]

navsat_transform:
    ros__parameters:
        frequency: 30.0
        delay: 3.0
        magnetic_declination_radians: 0.0
        yaw_offset: 1.4225
        zero_altitude: true
        broadcast_utm_transform: false
        publish_filtered_gps: false  # Disabled - GPS data is wrong
        use_odometry_yaw: true
        wait_for_datum: false
        datum: [55.944904, -3.186693, 0.0]

imu_filter:
    ros__parameters:
        stateless: false
        use_mag: true
        publish_tf: false
        reverse_tf: false
        fixed_frame: "base_footprint"
        constant_dt: 0.0
        publish_debug_topics: false
        world_frame: "enu"
        gain: 0.1
        zeta: 0.1
        mag_bias_x: 0.0
        mag_bias_y: 0.0
        mag_bias_z: 0.0
        orientation_stddev: 0.01
        remove_gravity_vector: true